/*общие стили*/
html, body {
    margin: 0;
}
.container {
    margin-top: 30px;
    margin-bottom: 100px;
}
#error404 {
    padding: 20px;
    text-align: center;
}
/*шапка*/
.logo i {
    color: #ffffff;
    font-size: 40px;
    display: block;
    float: left;
}
.logo span {
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 19px;
    line-height: 2px;
    float: right;
    margin-left: 10px;
}
.login a {
    color:#ffffff;
}
.avatar {
    float: left;
    margin-right: 20px;
}
ul{
    list-style: none;
}
.date {
    float: right;
}
.edit {
    float:right;
    margin-left: 20px;
}
.card-text {
    text-align: justify;
}
.card {
    margin: 30px 0;
}
.card.first .card-header {
    background-color: #007bff;
    color: #ffffff;

}
.comments.first {
    margin-left: 80px;
}
.card-header {
    cursor: pointer;
}
/*По умолчанию комментарии и сообщения скрыты*/
.card-body,.comments {
    display: none;
}
.cancel_btn {
    margin-left: 15px;
}
