/*общие стили*/
html, body {
    margin: 0;
}
.container {
    margin-top: 30px;
    margin-bottom: 100px;
}
#error404 {
    padding: 20px;
    text-align: center;
}
/*шапка*/
.logo i {
    color: #ffffff;
    font-size: 40px;
    display: block;
    float: left;
}
.logo span {
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 19px;
    line-height: 2px;
    float: right;
    margin-left: 10px;
}
.login a {
    color:#ffffff;
}
